<head>
    <meta charset="UTF-8">
    <link href="{{ asset('css/Nav.css') }}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <div class="HEADER">

        {% if app.user %}
            <div class="user">
                <img src="{{ asset('icon/user.png') }}">
                <p onclick="window.location.href='/user/user'">Compte</p>
            </div>
        {% else %}
            <div class="user">
                <img src="{{ asset('icon/user.png') }}">
                <p onclick="window.location.href='/login'">Se connecter</p>
            </div>
        {% endif %}
        <div class="Navbar">
            <div class="NavbarColumnLogo">
                <img src="{{ asset('icon/Logo.png') }}" class="Logo" onclick="window.location.href='/'">

                <div class="Trait"></div>
            </div>

            <div class="NavbarColumn" id="colcateg">
                <div class="ItemArrows">
                    <a class="MenuText" style="
    text-decoration: none;">Catégories</a>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="categ-content">
                    <div class="categ-content-row">
                    </div>
                </div>
            </div>

            <div class="NavbarColumn">
                <div class="Item">
                    <a class="MenuText" href="/article" style="
    text-decoration: none;">Nouveautés</a>
                    {% if currentPage is defined %}
                        {% if currentPage is same as ('Nouveautés') %}
                            <div class="active UnderlineMenu"></div>
                        {% endif %}
                    {% endif %}
                    <div class="UnderlineMenu"></div>
                </div>
            </div>

            <div class="NavbarColumn">
                <div class="Item">
                    <a class="MenuText" style="
    text-decoration: none;" href="/article/promotion">Promotions</a>
                    {% if currentPage is defined %}
                        {% if currentPage is same as ('Promotions') %}
                            <div class="active UnderlineMenu"></div>
                        {% endif %}
                    {% endif %}
                    <div class="UnderlineMenu"></div>
                </div>
            </div>

            <div class="NavbarTrait">
                <div class="TraitSecond"></div>
                <div class="search-container">
                    <div style="display: flex;height: 100%;width: 100%;margin-top: auto;margin-bottom: auto;padding-left: 7%;padding-right: 10%;">
                        <img src="{{ asset('../icon/SearchIcon.png') }}"
                             style="margin-right: 6%;align-self: center;width: 6%;height: 50%;">
                        <input class="navSearch" name="search" placeholder="Chercher un produit, une marque…"
                               onkeyup="searchItem(this.value)">
                    </div>
                    <div class="dropdown-content">
                        <div class="dropdown-content-row">
                        </div>
                    </div>
                </div>
                <div class="TraitThird"></div>
                <div class="Cart" onclick="window.location.href='/cart'">
                    <img src="{{ asset('../icon/Cart.png') }}" class="CartLogo0">
                    <div class="Panier-line"></div>
                    <div class="Panier-number">
                        {% block cartNumber %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</head>

{% block body %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{{ asset('css/Login.css') }}" rel="stylesheet"/>

    <div action="{{ path("fos_user_registration_register") }}" method="post">
        <form action="{{ path("fos_user_registration_register") }}" method="post">
            {{ form_widget(form._token) }}
            <div class="vide"></div>
            <div id="slideBox">
                <div class="topLayer">
                    <div class="right">
                        <div class="content">
                            <h2>Register</h2>
                            {{ form_errors(form) }}
                            <form id="form-login" method="post" onsubmit="return false;">
                                <div class="form-element form-stack">
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username) }}
                                </div>
                                <div class="form-element form-stack">
                                    {{form_label(form.plainPassword)}}
                                    {{form_widget(form.plainPassword)}}
                                </div>
                                <div class="form-element form-stack">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="form-element form-submit">
                                    <button class="login" type="submit" value="{{ 'registration.submit'|trans }}">Sign
                                        Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
